.navbar{

    background-color: rgb(255, 204, 110);
    height: 50px;
    width: 75vw;
    margin: 40px auto 0 auto;
    display: flex;
    align-items: center;
}
.caja1{
    background-color: white;
    height: 15px;
    width: 10vw;
    margin-left: 200px;
}
.caja2{
    background-color: white;
    height: 15px;
    width: 10vw;
    margin-left: 50px;
}
.caja3{
    background-color: white;
    height: 15px;
    width: 10vw;
    margin-left: 50px;
}
.caja4{
    background-color: white;
    height: 15px;
    width: 10vw;
    margin-left: 50px;
}
.caja5{
    background-color: white;
    height: 15px;
    width: 10vw;
    margin-left: 50px;
    margin-right: 200px;
}

.cajas{
    display: flex;
}
.locoloco{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.caja_chica{

    background-color: rgb(255, 179, 37);
    border: 35px solid rgb(255, 204, 110);
    height: 80px;
    width: 160px;
    margin-top: 80px;
    margin-left: 100px;
}
.texto_en_aire{
    margin-top: 25px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    width: 230px;
}
.txt1{
    background-color: rgb(197, 197, 197);
    width: 100%;
    height: 25px;
}
.txt2{
    background-color: rgb(197, 197, 197);
    width: 100%;
    height: 25px;
}
.txt3{
    background-color: grey;
    width: 50%;
    height: 25px;
    margin-left: 50%;
}
.caja_grande{
    background-color: gray;
    width: 800px;
    height: 400px;
    margin-top: 80px;
    margin-left: 100px;
    display: flex;
}
.caja_gris{
    background-color: rgb(72, 78, 85);
    width: 300px;
    height: 300px;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
}

.texto{
    display: flex;
    margin-left: 50px;
    flex-direction: column;
    gap: 15px;
    width: 50%;
    margin-right: 50px;
}

.titulo_amarillo{
    background-color: rgb(255, 204, 110);
    width: 150px;
    height: 25px;
    margin-top: 50px;
}
.textito1{
    background-color: beige;
    width: 100%;
    height: 10px;
}
.textito2{
    background-color: beige;
    width: 100%;
    height: 10px;
}
.textito3{
    background-color: beige;
    width: 100%;
    height: 10px;
}
.textito4{
    background-color: beige;
    width: 100%;
    height: 10px;
}
.cont{
    display: flex;
    justify-content: center;
    align-items: center;
}
.textito5{
    background-color: beige;
    width: 50%;
    height: 10px;
}

.Conteiner{
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.pagina_abajo{
    width: 100vw;
    height: 500px;
    display: flex;
}
.abajo_izq{
    background-color: gray;
    width: 50vw;
    height: 100%;
}
.video{
    background-color: rgb(197, 197, 197);
    border: 10px solid white;
    width: 500px;
    height: 250px;
}

.abajo_der{
    background-color: rgb(72, 78, 85);
    width: 50vw;
    height: 100%;
}